extends layout

block content
  h1= title
  p Welcome to #{title}

  mixin cam(id, desc)
    input(type="checkbox", name='camID', value=id)
    |#{desc} <br>

  #form
    form(align="center" action='/', method='get', target="_self")
      each val, index in cams
        +cam(val.id,val.description)
      input(type='submit', value='Find Cams')
