body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.pic-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-again-button {
  margin: 5% 0;
  padding: 5px;
  border: 1px solid black;
  background-color: rgba(156, 149, 155, 0.55);
}

.is-center {
  text-align: center;
  padding: 40px;
}